/* ================================ */
/* Theme Color = #FF8367 */
/* Head color = #363958 */

/* ================================ */

body{
    font-family: 'Kanit', sans-serif;
}
.menu_section{
    text-align: right;
}
.menu_section ul li{
    display: inline;
    margin: 0 2%;
}
.menu_section ul li a{
    text-decoration: none;
}

section{
    margin-bottom: 150px;
    height: 300px;
    clear: both;
}

.half_part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

.intro h1{
    color: #363958;
    font-size: 55px;
}

.half_part h2,
.project_head h2{
    font-size: 35px;
    color: #363958;

}

.color_span{
    color:#FF8367;
}

.half_part img{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.btn_link{
    border: none;
    background-image: linear-gradient(45deg, #FF8367, #ffa08b);
    padding: 8px 20px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.project_section{
    background-color: #fff6f5;
    height: 600px;
    padding: 20px 0px;
}

.project_child{
    width: 25%;
    float: left;
    margin-left: 5%;
    margin-top: 20px;
    padding: 1%;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 10px 10px 30px #adadad;

}

.project_child img{
    width: 100%;
}
.project_head{
    text-align: center;
}

.inquery_sec{
    background-image: url("../Images/background_image/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10% 20% -10% 20%;

}

#work_inq h1{
    color: #fff;
    font-size: 35px;
    margin: 20% 0%;
}

#chat_button{
    padding-top: 11%;
    text-align: right;
}

.footer_sec{
    text-align: center;
    padding: 4% 10%;
}

.footer_sec h2{
    text-transform: lowercase;
}

.footer_sec ul {
    margin-left: -3%;
}
.footer_sec ul li{
    list-style: none;
    display: inline;
    margin: 0px 5px;
}
.footer_sec ul li img{
    width: 35px;
    height: auto;
}

.service_child{
    width: 25%;
    float: left;
    margin-left: 5%;
    margin-top: 20px;
    padding: 1%;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 10px 10px 30px #adadad;
    min-height: 250px;
}

.service_child img{
    width: 30%;
    margin: 0 auto;
    display: block;
}

.service_child h2{
    font-size: 20px;
    text-align: center;
}
.service_child p{
    text-align: center;
}

.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
.skill-name {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar {
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
}

.skill-per {
    height: 20px;
    background-image: linear-gradient(45deg, #FF8367, #F56060);
    border-radius: 8px;
    position: relative;
}

.html_skill{
    width: 90%;
}

.css_skill{
    width: 70%;
}

.js_skill{
    width: 30%;
}
.jq_skill{
    width: 30%;
}

.bots_skill{
    width: 50%;
}

.cms_skill{
    width: 80%;
}